@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Bedug';
    src: url('/src/assets/fonts/Bedug-Regular.woff2') format('woff2'),
         url('/src/assets/fonts/Bedug-Regular.woff') format('woff'),
         url('/src/assets/fonts/Bedug-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
@font-face {
    font-family: 'Trifelia';
    src: url('/src/assets/fonts/Trifelia-Regular.woff2') format('woff2'),
         url('/src/assets/fonts/Trifelia-Regular.woff') format('woff'),
         url('/src/assets/fonts/Trifelia-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }


