@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Trifelia';
    src: url('./assets/fonts/Trifelia.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@layer base {
    html, body {
        font-family: 'Trifelia', system-ui, -apple-system, sans-serif;
    }
}

/* Add utility class for dashboard */
@layer components {
  .dashboard-content {
    @apply font-jost;
  }
}


